* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::placeholder {
    font-weight: bold;
}



body {
    height: 100vh;
    background-color: #f0f0f0;
}

.box {
    height: 357px;
    width: 497px;
    background-color: white;
    border-radius: 20px 20px 170px 20px;
    box-shadow: 10px 10px 60px rgba(0, 0, 0, 0.171);
    margin-bottom: 60px;
    padding: 30px;
}

.attribution {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 20px;
}

.line {
    width: 100%;
    height: 2px;
    background-color: #e9e9e9;
}

.circle {
    background-color: #864cff;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    cursor: pointer;
}

.circle:active {
    background-color: black;

}

.purple_text {
    color: #844cff;
}

.output_text {
    font-family: 'Poppins-ExtraBoldItalic';
    font-size: 45px;
    line-height: 1;

}

.arrow {
    width: 60%;
    height: 60%;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

input[type=number] {
    border: 2px solid #e9e9e9;
    caret-color: #9b81ca;
    cursor: pointer;
}

.parent {
    position: relative;
}

.validation {
    font-size: 8px;
    display: none;
    position: absolute;
    color: #e75764;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


.form-label {
    font-family: 'Poppins-Regular';
    font-size: 0.8rem;
    line-height: 0.8;
    color: #606060;

}

.form-control {
    font-family: 'Poppins-ExtraBold';
}



@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }
}